*.out
*.o
*.obj
*.a
*.lib
*.d
*.so
*.dylib
*.dll
*.map
*.exe

*.su
*.idb
*.pdb
*.exp

.vscode/

.DS_Store
*.dSYM/

# Run
.last_order
a.out.report.txt
_temp_*

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile

# Bazel
bazel-*

# Ninja
.ninja_*

# Coverage
*.gcda
*.gcno
coverage.*
coverage/
