*.out
*.o
*.obj
*.a
*.lib
*.d
*.so
*.dylib
*.dll
*.map
*.exe

.last_order

*.su
*.idb
*.pdb
*.exp

.vscode/

.DS_Store
*.dSYM/

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile

# Coverage
*.gcda
*.gcno
coverage.*
coverage/
