*.o
*.obj
*.a
*.d
*.so
*.out
*.map

.last_order
example/h2unit.cpp
example/h2unit.h

*.su
*.idb
*.pdb

.vscode/

.DS_Store
*.dSYM/

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile


# code coverage
*.gcda
*.gcno
*.lcov
coverage.*
coverage/
